<div class="container padding-width">
    <div class="row wrapper-login">
        <h2 class="align-center">Login</h2>
        {{#if showError}}
        <h4 style="color: red; text-align: center">{{errorMsg}}</h1>
        {{/if}}
        <span class="wrong-password align-center">Password is incorrect</span>
        <form action="/home" method="post">
            <label for="">Username</label>
            <input id="login-username" class="custom-input" type="text" name="username">
            <label for="">Password</label>
            <input id="login-password" class="custom-input" type="password" name="rawPWD">
            <input type="checkbox" id="remember">
            <label for="remember">Remember password?</label>
            <button id="btn-login" type="submit" class="btn">
                <span>Login</span>
            </button>
        </form>
        <div class="register-link">
            <a href="register.html">Don't have account?</a>
        </div>
        <a href="index-admin.html">Go to homepage
            <b>ADMIN</b> (temporary)</a>
    </div>
</div>