<header>
    <nav class="nav-bar row">
        <div class="btn-toggle-wrapper hide-on-desktop" id="btn-menu">
            <span class="btn-toggle"></span>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <a href="/home"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="menu-item">
                <a href="register"><i class="fa fa-star" aria-hidden="true"></i> Register</a>
            </li>
        </ul>
        <span class="search">
                <input id="search-bar" class="search-bar hide-on-mobile" placeholder="Search" type="text">
                <i class="fa fa-search fa-lg" aria-hidden="true"></i>
            </span>
    </nav>
</header>
<div class="container padding-width">
    <div class="row wrapper-login">
        <h2 class="align-center">Login</h2>
        <span class="wrong-password align-center">Password is incorrect</span>
        <!-- <form action="login.html"> -->
        <label for="">Username</label>
        <input id="login-username" class="custom-input" type="text" name="username">
        <label for="">Password</label>
        <input id="login-password" class="custom-input" type="password" name="password">
        <input type="checkbox" id="remember">
        <label for="remember">Remember password?</label>
        <button id="btn-login" type="submit" class="btn"><a href="index-customer.html"><span>Login</span></a></button>
        <!-- </form> -->
        <div class="register-link">
            <a href="register.html">Don't have account?</a>
        </div>
        <a href="index-admin.html">Go to homepage <b>ADMIN</b> (temporary)</a>
    </div>
</div>