<div class="container padding-width">
    <div class="row wrapper-register">
        <h2 class="align-center">Easy to register !!!</h2>
        <form action="register-success" method="post">
            <label for="">Username</label>
            <input required class="custom-input" type="text" name="username">
            <label for="">Password</label>
            <input required class="custom-input" type="password" name="password">
            <label for="">Fullname</label>
            <input required class="custom-input" type="text" name="fullname">
            <label class="gender">Gender</label>
            <br />
            <input checked id="male" type="radio" name="gender">
            <label for="male">Male</label>
            <input id="female" type="radio" name="gender">
            <label for="female">Female</label>
            <br />
            <br />
            <label for="">Phone</label>
            <input required class="custom-input" type="text" name="phone">
            <label for="">Email</label>
            <input required class="custom-input" type="email" name="email">
            <div class="g-recaptcha" data-sitekey="your_site_key"></div>
            <br>
            <button class="btn">
                <a href="register-success">
                    <span>Register</span>
                </a>
            </button>
        </form>
    </div>
</div>